@import 'variables.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: $color-main;
  font-size: 16px;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-white;
}

.price-tables {
  display: flex;
}

.price-card {
  position: relative;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
  overflow: hidden;
  width: 380px;
  height: 773px;
  margin-right: 18px;
  background-color: $color-table;

  &:last-child {
    margin-right: 0;
  }

  &__title {
    text-align: center;
    padding-top: 33px;
    padding-bottom: 33px;
    height: 130px;
    width: 176px;
    margin: auto;

    h1 {
      font-weight: 700;
      line-height: 43px;
      font-size: 35px;
      margin: 0;
    }

    h2 {
      margin: 0;
      line-height: 24px;
      font-size: 20px;
      font-weight: 300;
    }
  }

  &__price {
    height: 105px;
    width: 380px;
    font-weight: bold;
    font-size: 55px;
    line-height: 67px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-green;
  }

  &__description {
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    text-align: center;
    height: 116px;

    p {
      padding: 0;

      width: 327.4px;
      text-align: center;
      margin: 40px 26px;
    }
  }

  &__options-list {
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 39px;
    padding: 0;
    width: 100%;
    list-style-type: none;
  }
}

.option {
  display: flex;
  line-height: 50px;
  width: 380px;
  list-style-position: inside;

  &:nth-child(odd) {
    background: rgba(42, 52, 56, 1);
  }

  &:nth-child(even) {
    background: rgba(51, 66, 71, 1);
  }
}

img {
  width: 15px;
  height: 13px;
  margin: 19px 22px;
}

.order-btn {
  height: 40px;
  width: 154.8px;
  border-radius: 20px;
  margin: auto;
  border: none;
  color: $color-white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  margin: 0 auto;
  display: block;
  background-color: $color-green;
}

.business {
  background-color: $color-blue;
}

.webshop {
  background-color: $color-orange;
}

.badge {
  position: absolute;
  background-color: $color-red;
  width: 147px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
  right: -31px;
  top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}
